@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Yekan;
  font-weight: bold;
  font-size: 14px;
}
a {
  text-decoration: none;
  color: inherit;
}
@font-face {
  font-family: Yekan;
  src: url('../font/Yekan.ttf');
}
