@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Yekan;
  font-weight: bold;
  font-size: 14px;
}
a {
  text-decoration: none;
  color: inherit;
}
@font-face {
  font-family: Yekan;
  src: url("../font/Yekan.ttf");
}
@layer components {
  .titr {
    @apply text-4xl;
  }
  .bgLogin {
    background: radial-gradient(
      circle,
      rgba(84, 93, 238, 1) 0%,
      rgba(146, 182, 224, 1) 100%
    );
  }
}
