@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Estedad;
}
body {
  font-size: 14px;
}
@font-face {
	font-family: Estedad;
	src: url("../fonts/Estedad/Estedad-Thin.woff");
	font-weight: 200;
}
@font-face {
	font-family: Estedad;
	src: url("../fonts/Estedad/Estedad-Light.woff");
	font-weight: 300;
}
@font-face {
	font-family: Estedad;
	src: url("../fonts/Estedad/Estedad-Medium.woff");
	font-weight: 400;
}
@font-face {
	font-family: Estedad;
	src: url("../fonts/Estedad/Estedad-Bold.woff");
	font-weight: 700;
}
@font-face {
	font-family: Estedad;
	src: url("../fonts/Estedad/Estedad-Black.woff");
	font-weight: 900;
}
a {
  text-decoration: none;
  color: inherit;
}
@layer components {
  .titr {
    @apply text-4xl;
  }
  .bgLogin {
    background: radial-gradient(
      circle,
      rgba(84, 93, 238, 1) 0%,
      rgba(146, 182, 224, 1) 100%
    );
  }
}
